.container {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #27292c;
}
.links {
    width: 100%;
}
